.WoodPage {
  display: flex;
    flex-direction: column;
}

.WoodPage__image {
    height: 20vw;
    min-height: 150px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10px 10px 0 0;
  }
  
  
  .WoodPage__description {
    margin-bottom: 30px;
  }

  
  #Woodpage__submissions-table {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }
  
  #Woodpage__submissions-table td, #Woodpage__submissions-table th {
    border: 1px solid #ddd;
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60px;
  }

  #Woodpage__submissions-table td {
    font-size: 13px;
  }

  
  #Woodpage__submissions-table tr:nth-child(even){background-color: #f2f2f2;}
  
  #Woodpage__submissions-table tr:hover {background-color: #ddd;}
  
  #Woodpage__submissions-table th {
    font-size: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #8899cc;
    color: white;
  }
  
  .table-container {
    margin-bottom: 3rem;
  }

  .scientific-name {
    font-style: italic;
  }

  /* .Submission-Link {
    font-size: 20px;
  
  }
   */
  #Submission-Link-Section {
    text-align: center;
    width: 50%;
    align-self: center;
  }

@media screen and (max-width: 1000px) {
  .table-container {
    overflow-x: scroll;
  }
}