.WoodPage {
  display: flex;
  flex-direction: column;
}

#Average-Data-Section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.Averages_List {
  list-style: none;
  flex-wrap: wrap;
  max-width: 700px;
  padding: 0;
  background-image: linear-gradient(
    to right,
    rgba(12, 55, 54, 0),
    rgba(12, 55, 54, 0.5)
  );
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 10px 8px 5px #888888;
}

.Averages_List li {
  border: 1px outset white;
  padding: 5px;
  width: 200px;
  min-height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Averages_List li p {
  margin-bottom: 0;
  max-width: 75%;
}

#Woodpage__submissions-table {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#Woodpage__submissions-table td,
#Woodpage__submissions-table th {
  border: 1px solid #ddd;
  padding: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60px;
}

#Woodpage__submissions-table td {
  font-size: 13px;
}

#Woodpage__submissions-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#Woodpage__submissions-table tr:hover {
  background-color: #ddd;
}

#Woodpage__submissions-table th {
  font-size: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #8899cc;
  color: white;
}

.table-container {
  margin-bottom: 3rem;
  overflow-x: scroll;
}

.scientific-name {
  font-style: italic;
}

#Submission-Link-Section {
  text-align: center;
  width: 50%;
  align-self: center;
}


@media screen and (min-width: 750px) {
  .Averages_List {
    display: flex;
    justify-content: center;
    border-radius: 30px;
  }

  .Averages_List li {
    margin: 5px;
  }
}
