.Button {
  max-width: 400px;
}

.LoginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LoginForm {
  text-align: center;
}
.LoginForm div {
  margin-bottom: 20px;
}

.LoginForm div input {
  width: 40%;
}

.login-error-container {
  display: flex;
  justify-content: center;
  color: red;
}
