.WoodList {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 40px;
}

.Submission-Link {
  font-size: 20px;
}

#Submission-Link-Section {
  text-align: center;
  width: 50%;
  align-self: center;
}

#ToggleLength__Section {
  text-align: right;
  margin-right: 30px;
}

#ToggleLength__Section button {
  border: 1px solid #aaa;
  background-color: #eee;
  font-size: 1.1em;
  border-radius: 4px;
  padding: 8px 12px;
  font-weight: bold;
  margin-bottom: 2rem;
  box-shadow: 5px 5px 10px #888888;
}

#ToggleLength__Section button:hover {
  background-color: #8899cc;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hardness-switches {
  display: flex;
}

.Button {
  width: 100%;
  background-color: rgba(130, 182, 204, 0.45);
  box-shadow: 0px 11px 21px -8px rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
}

@media screen and (min-width: 900px) {
  .Submission-Link {
    font-size: 40px;
  }

  .Submission-Link-Section button {
    width: 70%;
  }
}
