.WoodList {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 40px;
  }

.Submission-Link {
  font-size: 40px;

}

#Submission-Link-Section {
  text-align: center;
  width: 50%;
  align-self: center
}

.Button {
  width: 70%;
}

@media screen and (max-width: 500px ) {
  .Submission-Link {
    font-size: 20px;
  }

  .Button {
    width: 100%
  }
}

